<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings>
		<add name="myCS" connectionString='Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename="C:\Users\zechn\source\repos\IOOP-Group-Assignment\IOOP Group Assignment\GoodStayHotelDatabase.mdf";Integrated Security=True'
				providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>